{% block content %}
<div class="section-box">
  <div
    class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-3"
  >
    <div>
      <h4 class="fw-bold">Località attuale: {{ weather.city }}</h4>
      <p class="small-text mb-0">
        Cerca gli aggiornamenti meteo nella tua città tecnologica.
      </p>
    </div>
    <form
      action=""
      method="post"
      class="d-flex justify-content-center align-items-center gap-4"
    >
      <label for="search">Cerca Città Meteo</label>
      <input
        id="search"
        name="city"
        type="text"
        class="form-control w-auto text-black bg-light bg-border-0"
        placeholder="Inserisci il nome della città..."
      />
      <button
        class="btn btn-primary-custom"
        type="submit"
      >
        Cerca
      </button>
    </form>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, msg in messages %}
  <div
    class="alert alert-{{ category }} alert-dismissible fade show alert-custom"
    role="alert"
  >
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %} {% endwith %}

  <div class="row g-4">
    <div class="col-md-4">
      <div class="weather-card">
        <p class="small-text">OGGI</p>
        <h5>{{ weather.forecast[0].date }}</h5>
        <img
          src="https://openweathermap.org/img/wn/{{ weather.forecast[0].icon }}@2x.png"
        />
        <h3>{{ weather.forecast[0].temp_day }}°</h3>
        <p class="small-text">
          giorno: {{ weather.forecast[0].temp_day }}° · notte: {{
          weather.forecast[0].temp_night }}°
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="weather-card">
        <p class="small-text">DOMANI</p>
        <h5>{{ weather.forecast[1].date }}</h5>
        <img
          src="https://openweathermap.org/img/wn/{{ weather.forecast[1].icon }}@2x.png"
        />
        <h3>{{ weather.forecast[1].temp_day }}°</h3>
        <p class="small-text">
          giorno: {{ weather.forecast[1].temp_day }}° · notte: {{
          weather.forecast[1].temp_night }}°
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="weather-card">
        <p class="small-text">DOPO DOMANI</p>
        <h5>{{ weather.forecast[2].date }}</h5>
        <img
          src="https://openweathermap.org/img/wn/{{ weather.forecast[2].icon }}@2x.png"
        />
        <h3>{{ weather.forecast[2].temp_day }}°</h3>
        <p class="small-text">
          giorno: {{ weather.forecast[2].temp_day }}° · notte: {{
          weather.forecast[2].temp_night }}°
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
