{% extends "base.html" %} {% block title %}Home - NeuralNet{% endblock %}
{%block content %}
<!-- hero -->
<section class="about">
  <h1 class="title-about">About - Informazioni</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ipsam,
    alias aliquid harum similique neque quos explicabo facilis dolorem inventore
    eaque corporis maiores eius quo ea doloribus. Labore, ut vero. Debitis,
    reiciendis? Exercitationem vel suscipit sapiente ex aperiam, dolorem
    adipisci laboriosam voluptates veniam explicabo repellendus incidunt dolores
    sint. Necessitatibus nobis obcaecati atque culpa animi repellat dolorum ex
    nesciunt aut dolore. Quidem dolore facere provident cum suscipit? Ducimus
    ipsam, quidem quibusdam voluptates eum illo animi sint, natus quod vitae
    obcaecati nulla modi corrupti libero reiciendis minus dolor expedita
    laboriosam ea atque? Eius, praesentium? Temporibus dolorem possimus illum
    tenetur! Officia adipisci, eligendi voluptate natus dolorem quam provident
    cum harum nostrum ratione et! Doloribus repellendus, hic culpa quae
    reprehenderit corrupti beatae qui optio? Magnam tempore corporis, rem
    consequuntur aliquid praesentium laboriosam ab aut deserunt vel doloribus
    nulla quasi vero nostrum commodi, illum porro, dolorum molestias odit
    aspernatur quae vitae sunt? Nesciunt, laboriosam vitae. Laborum saepe neque
    dolores alias minima architecto reprehenderit esse magnam necessitatibus.
    Error, voluptatibus ratione necessitatibus possimus eius amet reprehenderit,
    eveniet alias molestiae porro pariatur voluptates dolor, laudantium id iure
    animi? Quas reprehenderit quasi illo. Laudantium cum nam eveniet veniam
    voluptatum quasi nesciunt? In harum eaque vel doloremque rerum omnis,
    exercitationem, facilis nobis tempore facere dolore culpa itaque minus id
    nihil? Recusandae sed ullam temporibus fugiat ratione? Nam sunt dolorum
    repellendus voluptate. Quae ipsam sed, praesentium quas cumque eveniet
    dignissimos labore consequuntur vero repellendus quam sequi, autem
    repudiandae! Blanditiis, incidunt aliquam. Ipsa dolores rem eveniet porro
    architecto, fugit quo provident, corrupti harum blanditiis nesciunt
    doloremque perspiciatis non minima odit voluptatibus? Illum cumque
    exercitationem fugit error a unde similique. Assumenda, labore pariatur!
    Velit laborum dolore pariatur laudantium magni distinctio necessitatibus
    vero. Quaerat, amet. Laborum eaque maxime magni reprehenderit totam eos
    explicabo qui architecto possimus nemo, perspiciatis distinctio, doloribus
    ab error iste tenetur!
  </p>
</section>
{% endblock %}
