{% extends "base.html" %} {% block title %}Login - NeuralNet{% endblock %} {%
block content %}
<section
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <div class="col-md-5">
    <div class="auth-card">
      <h3 class="text-center fw-bold mb-4">Login</h3>
      <p class="text-center mb-4">Accedi al tuo profilo</p>

      <form method="post">
        <div class="mb-3">
          <label class="form-label small">USERNAME</label>
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Enter username"
          />
        </div>

        <div class="mb-4">
          <label class="form-label small">PASSWORD</label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter password"
          />
        </div>

        <button class="btn btn-custom w-100 text-white">Start</button>
      </form>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, msg in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show alert-custom"
        role="alert"
      >
        {{ msg }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}

      <div class="text-center mt-4">
        <small
          >Non hai un account?
          <a
            href="/register"
            class="small-link"
            >Registrati</a
          >
        </small>
      </div>
    </div>
  </div>
</section>
{% endblock %}
